.Pokedex-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* width: 1200px; */
	margin-left: auto;
	margin-right: auto;
	justify-content: space-evenly;
}

.Pokedex-winner {
	color: #3eaf0e;
}

.Pokedex-loser {
	color: #da3c0b;
}
